<!--<header class="mat-app-background">-->
<div class="mat-app-background">
  <div class="search">
    <mat-form-field class="example-form-field">
      <mat-label>Write Film Name</mat-label>
      <label>
        <input matInput type="text" [(ngModel)]="InputSearch">
      </label>
      <button mat-button *ngIf="InputSearch" matSuffix mat-icon-button aria-label="Clear" (click)="InputSearch=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button (click)='search(InputSearch)' mat-raised-button color="primary">Search</button>
  </div>

  <div class="search_result" >
    <mat-card class="example-card" *ngFor="let c of response" (click)="movieDetails(c.imdbID)">
      <mat-card-header>
        <mat-card-title><p>{{c.Title}}</p></mat-card-title>
        <mat-card-subtitle>{{c.Type}}</mat-card-subtitle>
        <mat-card-subtitle>{{c.Year}}</mat-card-subtitle>
      </mat-card-header>

      <div *ngIf="c.Poster === 'N/A'; else poster ">
        <h1 style="color: red">Poster not Found</h1>
      </div>
      <ng-template #poster>
        <img mat-card-image src="{{c.Poster}}" alt="Poster">
      </ng-template>
      <mat-card-actions>
        <button class="btn_search" mat-flat-button color="warn" (click)="movieDetails(c.imdbID)">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>




</div>




